.header-container {
    height:300px;
    width:100%;
    position:relative;
}
.header-container::after {
    height: 100vh;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color:#3a4256;
    z-index: -1;
}
